/* Font loading */

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Variables */

:root {
  --primary-color: #ddd;
  --secondary-color: #5b5b5b;
  --half-color: #2e2e2e;
  --quarter-color: #101010;
  --background-color: #000;

  --container-border-radius: 16px;
  --input-border-radius: 4px;

  --sans-serif: "Inter", sans-serif;
  --monospace: "Space Mono", monospace;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", sans-serif;
}

/* Common styles */

.outlined {
  outline: 1px solid var(--half-color);
  border-radius: var(--container-border-radius);
}

.border-top {
  border: 1px solid var(--half-color);
  border-style: solid none none none;
}

.border-bottom {
  border: 1px solid var(--half-color);
  border-style: none none solid none;
}

.border-left {
  border: 1px solid var(--half-color);
  border-style: none none none solid;
}

.border-right {
  border: 1px solid var(--half-color);
  border-style: none solid none none;
}

.content-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.monospace {
  font-family: var(--monospace);
}

/* Style for the containers */

.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: calc(100% - 32px);
  gap: 8px;
  overflow-y: scroll;
}

.row-container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 32px);
  padding: 16px;
}

@media screen and (max-width: 720px), screen and (max-aspect-ratio: 9/16) {
  .row-container {
    flex-direction: column;
    gap: 0px;
  }
}

/* Style for the tab container */

.radios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--half-color);
  border-style: none none solid none;
  padding: 16px;
}

.tab-button {
  flex: 1;
  text-align: center;
}

.tab-button label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  margin: 16px 0;
  border-radius: var(--input-border-radius);
  color: var(--primary-color);
  font-size: 14px;
  width: calc(100% - 64px);
  text-align: center;
}

.tab-button label:hover {
  text-decoration: underline;
}

.tab-button input[type="radio"] {
  display: none;
}

.tab-button input[type="radio"]:checked + label {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.tab-content {
  overflow-y: scroll;
}

.tab-content.unfocused {
  display: none;
}

.tab-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  width: 100%;
}

/* Styles for inputs */

input[type="text"],
input[type="number"],
textarea {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--half-color);
  padding: 12px;
  border-radius: var(--input-border-radius);
  outline: 0px solid var(--half-color);
  font-family: var(--sans-serif);
  font-size: 14px;
  transition: outline 0.05s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

input[type="text"]:hover,
input[type="number"]:hover,
textarea:hover {
  background-color: var(--quarter-color);
  outline: 1px solid var(--half-color);
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 6px var(--primary-color);
  background-color: var(--quarter-color);
}

textarea {
  resize: none;
  aspect-ratio: 16 / 9;
}

/* Styles for buttons */

button,
input[type="submit"],
input[type="button"] {
  background-color: var(--quarter-color);
  color: var(--primary-color);
  padding: 12px 24px;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  border: none;
  font-family: var(--sans-serif);
  font-size: 14px;
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

button:hover {
  background-color: var(--half-color);
  color: var(--primary-color);
}

button:active {
  background-color: var(--background-color);
}
