.home {
  padding: 0 32px;
}

.homeHeader {
  text-align: center;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--half-color);
  border-radius: var(--container-border-radius);
  padding: 48px 32px;
  margin-top: 36px;
}

.homeHeader h1 {
  margin: 0;
}

.homeHeader h3 {
  font-weight: 300;
  color: var(--secondary-color);
  font-family: var(--monospace);
}

.homeSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  border: 1px solid var(--half-color);
  border-radius: var(--container-border-radius);
  cursor: text;
  outline: 0px solid var(--half-color);
  overflow: hidden;
  gap: 12px;
  transition: background-color 0.05s ease-in-out, outline 0.05s ease-in-out,
    box-shadow 0.05s ease-in-out;
}

.homeSearchContainer svg {
  color: var(--secondary-color);
  margin: 16px;
  border-right: 1px solid var(--half-color);
  padding: 0 24px 0 12px;
  transition: color 0.05s ease-in-out;
}

#homeSearch {
  width: 100%;
  height: 60px;
  border: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 0 24px 0 12px;
  font-family: var(--sans-serif);
  font-size: 16px;
  border-radius: var(--input-border-radius);
  transition: background-color 0.05s ease-in-out;
  outline: none;
}

#homeSearch::placeholder {
  color: var(--secondary-color);
}

@media (hover: hover) {
  .homeSearchContainer:hover {
    background-color: var(--quarter-color);
    outline: 1px solid var(--half-color);
  }

  .homeSearchContainer:hover #homeSearch {
    background-color: var(--quarter-color);
  }
}

.homeSearchContainer:focus-within {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 6px var(--primary-color);
  background-color: var(--quarter-color);
}

.homeSearchContainer:focus-within svg {
  color: var(--primary-color);
}

#homeSearch:focus {
  background-color: var(--quarter-color);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.modLink {
  display: flex;
  gap: 8px;
  padding: 16px;
  border: 1px solid var(--half-color);
  border-radius: var(--container-border-radius);
  background-color: var(--background-color);
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  align-items: center;
  outline: 0px solid var(--half-color);
  transition: background-color 0.05s ease-in-out, outline 0.05s ease-in-out;
}

.modLink p {
  font-family: var(--sans-serif);
}

@media (hover: hover) {
  .modLink:hover {
    background-color: var(--quarter-color);
    outline: 1px solid var(--half-color);
  }

  .modLink:hover p {
    color: var(--primary-color);
  }

  .modLink:hover .modLinkIcon {
    background-color: var(--half-color);
  }
}

.modLink:active {
  background-color: var(--half-color);
}

.modLinkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: 1px solid var(--half-color);
  border-radius: var(--input-border-radius);
  color: var(--primary-color);
  transition: background-color 0.05s ease-in-out;
  aspect-ratio: 1 / 1;
}

.modLinkIcon svg {
  width: 32px;
  height: 32px;
}

.modLinkInfo {
  display: inline-flex;
  flex-direction: column;
  margin-left: 12px;
}

.modLinkInfo h3 {
  color: var(--primary-color);
  margin: 4px;
}

.modLinkInfo p {
  color: var(--secondary-color);
  margin: 4px;
  transition: color 0.05s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }

  .home {
    padding: 0px;
    overflow: hidden;
  }

  .homeContent {
    height: calc(100% - 112px);
    overflow-y: scroll;
  }

  .homeSearchContainer {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    border-radius: 0;
    border-style: none;
    border-bottom: 1px solid var(--half-color);
    outline: 0px solid var(--half-color);
    box-shadow: none;
    height: 112px;
    width: 100%;
  }

  .homeHeader {
    border: none;
    padding: 0px;
    width: 100%;
  }

  .gallery {
    gap: 0px;
    border-top: 1px solid var(--half-color);
  }

  .modLink {
    border-radius: 0px;
    border-style: none;
    border-bottom: 1px solid var(--half-color);
  }

  html {
    overflow: scroll;
    position: relative;
  }
}
