.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 361px;
  width: calc(100% - 360px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
  color: var(--primary-color);
  border-radius: var(--container-border-radius);
  outline: 1px solid var(--half-color);
  width: min(512px, calc(100vw - 84px));
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  padding: 16px;
  border-bottom: 1px solid var(--half-color);
  background-color: var(--background-color);
}

.modalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: var(--input-border-radius);
  color: var(--primary-color);
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.modalClose:hover {
  background-color: var(--half-color);
}

.modalClose:active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.modalContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 32px);
  max-height: calc(100vh - 99px - 512px);
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  .modalContainer {
    width: 100%;
    left: 0px;
  }
}
