.modPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--half-color);
  border-style: solid none none none;
}

.modHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
}

.modInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.modActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.backButton,
.modLogo {
  display: none;
}

.modActionButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  aspect-ratio: 1 / 1;
  border-radius: var(--input-border-radius);
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  padding: 8px;
}

@media (hover: hover) {
  .modActionButton {
    transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
  }

  .modActionButton:hover {
    background-color: var(--quarter-color);
    color: var(--primary-color);
  }

  .modActionButton:active {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
}

@media (hover: none) {
  .modActionButton {
    transition: background-color none, color none;
  }
  .modActionButton:active {
    background-color: var(--secondaryw-color);
    color: var(--primary-color);
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
  }
}

.modHeader p {
  margin: 0 0 0 36px;
  color: var(--secondary-color);
}

.modHeader h2 {
  padding: 0 36px 0 0;
  margin: 0;
  border-right: 1px solid var(--half-color);
  text-align: left;
}

@media screen and (max-width: 1024px) {
  body {
    overflow: hidden;
    height: 10px;
  }

  .modPage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Mobile Safari is wack */
  }

  iframe {
    width: 100vw;
    border-style: solid none solid none;
    border-radius: 0;
  }

  .modInfo {
    display: none;
  }

  .modActionButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .modActionButton svg {
    width: 24px;
    height: 24px;
  }

  .modActions {
    gap: 16px;
    width: 150px;
    justify-content: flex-end;
  }

  .backButton {
    display: inline-flex;
    justify-content: flex-start;
  }

  .modLogo {
    display: inline-flex;
    height: 42px;
    width: 42px;
    justify-content: center;
    align-items: center;
  }
}
