.modPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--half-color);
  border-style: solid none none none;
}

.modHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
}

.modInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.modActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.backButton,
.modLogo {
  display: none;
}

.modHeader p {
  margin: 0 0 0 36px;
  color: var(--secondary-color);
}

.modHeader h2 {
  padding: 0 36px 0 0;
  margin: 0;
  border-right: 1px solid var(--half-color);
  text-align: left;
}

@media screen and (max-width: 1024px) {
  html {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .modPage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Mobile Safari is wack */
  }

  iframe {
    width: 100vw;
    height: calc(100% - 64px - 48px);
    border-style: none none solid none;
    border-radius: 0;
  }
}
