.leftSideBar {
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  z-index: 1;
}

.sideBarLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  width: calc(100% - 128px + 32px + 2px);
  padding: 48px;
}

.sideBarLink {
  display: flex;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: var(--container-border-radius);
  cursor: pointer;
  transition: background-color 0.05s ease;
  width: calc(100% - 128px + 64px);
  align-items: center;
  gap: 32px;
}

.sideBarHeader {
  display: flex;
  text-decoration: none;
  padding: 16px 26px;
  border-radius: var(--container-border-radius);
  cursor: pointer;
  transition: background-color 0.05s ease;
  width: calc(100% - 52px);
  align-items: center;
  gap: 26px;
}

.sideBarHeader:hover {
  background-color: var(--quarter-color);
}

.sideBarLogo {
  display: flex;
  gap: 24px;
}

.sideBarHeader .title {
  height: 36px;
}

.sideBarLogo .symbol {
  height: 36px;
}

.sideBarLink svg {
  width: 24px;
  height: 24px;
  color: var(--half-color);
  transition: color 0.05s ease;
}

.sideBarLink:hover {
  background-color: var(--quarter-color);
}

.sideBarLink:hover svg {
  color: var(--secondary-color);
}

.sideBarLink.active {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
}

.sideBarLink.active svg {
  color: var(--background-color);
}

@media screen and (max-width: 1024px) {
  .leftSideBar {
    width: 100%;
    height: 128px;
    bottom: 0px;
    left: 0px;
    top: auto;
    position: fixed;
    z-index: 1;
    flex-direction: row;
    border-top: 1px solid var(--half-color);
    align-items: center;
  }

  .sideBarLinkContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }

  .sideBarLink {
    flex-direction: column;
    gap: 8px;
    width: 25vw;
    padding: 12px 0;
  }

  .linkName {
    font-size: 12px;
    text-align: center;
    color: var(--secondary-color);
  }

  .sideBarLink.active .linkName {
    color: var(--background-color);
  }

  .sideBarHeader {
    display: none;
  }
  .sideBarFooter {
    display: none;
  }
}
