.sideBar {
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  z-index: 2;
}

.sideBarLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  width: calc(100% - 128px + 32px + 2px);
  padding: 48px;
}

.sideBarLink {
  display: flex;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: var(--container-border-radius);
  background-color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.05s ease;
  width: 100%;
  align-items: center;
  gap: 32px;
  font-family: var(--sans-serif);
  border: none;
}

a.sideBarLink {
  width: calc(100% - 64px);
}

.sideBarHeader {
  display: flex;
  text-decoration: none;
  padding: 16px 26px;
  border-radius: var(--container-border-radius);
  cursor: pointer;
  transition: background-color 0.05s ease;
  width: calc(100% - 52px);
  align-items: center;
  gap: 26px;
}

.sideBarHeader:hover {
  background-color: var(--quarter-color);
}

.sideBarLogo {
  display: flex;
  gap: 24px;
}

.sideBarHeader .title {
  height: 36px;
}

.sideBarLogo .symbol {
  height: 36px;
}

.sideBarLink svg {
  width: 24px;
  height: 24px;
  color: var(--half-color);
  transition: color 0.05s ease;
}

.sideBarLink:hover {
  background-color: var(--quarter-color);
}

.sideBarLink:hover svg {
  color: var(--secondary-color);
}

.sideBarLink.active {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
}

.sideBarLink.active svg {
  color: var(--background-color);
}

.sideBarFooter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px;
  width: calc(100% - 128px + 32px + 2px);
  text-align: center;
  font-size: 12px;
  color: var(--secondary-color);
  gap: 16px;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .sideBar {
    display: none;
  }
}
